@import "./fonts.css";
@import "./utils.css";

@tailwind base;
@tailwind components;

:root {
  --shadow-hard: 4px 4px 0 0 rgb(0 0 0 / 89%);
}

html,
body {
  height: 100%;
}

html {
  font-size: calc(1.125 * 100%);
}

body {
  font-family: "PlusJakartaSans", sans-serif;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  @apply transition-colors decoration-dotted underline decoration-orange-600;
  &:hover {
    @apply text-orange-600;
  }
}

.content {
  @apply overflow-hidden;

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  a {
    @apply transition-colors decoration-dotted underline decoration-orange-600;
    &:hover {
      @apply text-orange-600;
    }
  }

  code {
    @apply text-sm;
  }

  code:not([class*="language-"]) {
    @apply font-mono text-xs rounded-sm bg-gray-100 text-red-600 border border-gray-300 max-w-full overflow-x-auto whitespace-nowrap inline-block align-middle;
    padding: 0.1em 0.5em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  }

  pre:not([class*="language-"]) {
    @apply rounded-md overflow-hidden;
    box-shadow: var(--shadow-hard);
  }

  blockquote {
    @apply block pl-4 my-6 text-gray-500 italic border-l-2 border-l-orange-600;
  }

  kbd {
    font-size: 0.75rem;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.5em 0 0.2em;
    box-shadow: var(--shadow-hard);
    background-color: #f7f7f7;
  }

  p,
  ul {
    @apply my-6;
  }

  ul {
    @apply my-6 list-disc pl-4;
  }

  li > ul {
    margin: 0;
  }
}

@tailwind utilities;
