.bg-gradient {
  background: rgb(255, 75, 10);
  background: linear-gradient(
    135deg,
    rgba(255, 75, 10, 1) 0%,
    rgba(254, 246, 181, 1) 100%
  );
}

.contained {
  @apply mx-auto;
  max-width: 60ch;
}
