@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --outline-size: 1rem;
  --outline-color: #000;
}

div#__next {
  min-height: calc(100vh - 2rem);
  background-color: hsl(0, 100%, 100%);
}

body:after,
body:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--outline-size);
  background: var(--outline-color);
  z-index: 20000;
}

body:after {
  bottom: 0;
}

body:before {
  top: 0;
}

html {
  font-size: calc(1.125 * 100%);
}

body {
  padding: 1rem;
  font-family: "PlusJakartaSans", sans-serif;
  line-height: 1.6;
  background-color: var(--outline-color);
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

a:hover {
  @apply text-green-600;
}

blockquote {
  @apply block pl-4 my-6 text-gray-400 text-lg border-l-2 border-l-gray-500;
}

code {
  @apply font-mono text-xs rounded-sm inline-block px-1 bg-gray-300 text-red-600;
}

.content {
}
p,
ul {
  @apply mb-6;
}

ul {
  @apply mb-6 list-disc pl-4;
}
